.navbar-nav {
    width: 100%;
}
.card {
    
    align-content: center;
    margin: 40px;
    background: rgba(0, 0, 0, 0.19);
    box-shadow: 4px 2px black;
}

.card-container {
    padding-top: 50px;
    padding-right:30px;
    padding-left: 30px;
}

.nav {
    background-color: transparent;
}


.body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumbotron {
    background-color: transparent;
}

.bio {
    background-color: transparent;
    margin-left: 70px;
    margin-right: 70px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.2);

}

.intro {
    font-size: 25px;
}

.abt {
    padding-top: 30px;
    padding-left: 20px;
}

#avatar {

}

.panel-title{
    padding-top: 50px;
}


.contact {
    margin-top: 100px;
    text-align: auto;
}